In [ ]:
!pip3 install pandasql

In [3]:
import os 
import pandas as pd 
from pandasql import sqldf
# pandasqlì„ ì „ì—­ í™˜ê²½ìœ¼ë¡œ ì§€ì •
mysql = lambda q: sqldf(q, globals())

data_dir = '/Users/ichangyu/Desktop/ModuLABS/Assignment/251120'

bike = pd.read_csv(os.path.join(data_dir, 'bike_dataset.csv'))
orders = pd.read_csv(os.path.join(data_dir, 'orders.csv'))
customers = pd.read_csv(os.path.join(data_dir, 'customers.csv'))
employees = pd.read_csv(os.path.join(data_dir,'employees.csv'))
ds_2020 = pd.read_csv(os.path.join(data_dir, 'DS_JobsSalaries_2020.csv'))
ds_2021 = pd.read_csv(os.path.join(data_dir, 'DS_JobsSalaries_2021.csv'))

print("ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ!")

ë°ì´í„° ì¤€ë¹„ ì™„ë£Œ!

# ğŸ“ ë¬¸ì œ 1. (Table: ds_jobs_2020)
"ê³ ì•¡ ì—°ë´‰ì ë°ì´í„° ì¶”ì¶œ ë° ì›í™” í™˜ì‚°"

2020ë…„ ë°ì´í„°(ds_jobs_2020)ì—ì„œ ë‹¤ìŒ ì¡°ê±´ì— ë§ëŠ” ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ì£¼ì„¸ìš”.

1. ì¡°ê±´(WHERE, ë…¼ë¦¬ì—°ì‚°ì):

    - ê²½ë ¥ ë ˆë²¨(experience_level)ì´ 'MI' (Middle) ì´ê³ (AND),

    - íšŒì‚¬ ê·œëª¨(company_size)ê°€ 'L' (Large) ì¸ ë°ì´í„°ë§Œ ë½‘ì•„ì£¼ì„¸ìš”.

2. ê³„ì‚° ë° ì»¬ëŸ¼ ìƒì„±(ì‚°ìˆ ì—°ì‚°ì, Alias):

    - salary_in_usd (ë‹¬ëŸ¬ ì—°ë´‰)ì— í™˜ìœ¨ 1300ì„ ê³±í•´ì„œ, salary_krw ë¼ëŠ” ë³„ì¹­(Alias)ìœ¼ë¡œ ì›í™” ì—°ë´‰ ì»¬ëŸ¼ì„ ë§Œë“¤ì–´ì£¼ì„¸ìš”.

3. ì •ë ¬(ORDER BY):

    - ê²°ê³¼ëŠ” ì›í™” ì—°ë´‰(salary_krw)ì´ ë†’ì€ ìˆœì„œëŒ€ë¡œ(ë‚´ë¦¼ì°¨ìˆœ) ì •ë ¬í•´ ì£¼ì„¸ìš”.

4. ì¶œë ¥ ì»¬ëŸ¼: job_title, salary_in_usd, salary_krw

In [15]:
mysql("""
      SELECT job_title, salary_in_usd, 
      salary_in_usd * 1300 AS salary_krw  
      FROM ds_2020
      WHERE experience_level = 'MI' AND company_size = 'L'
      ORDER BY salary_krw DESC
      LIMIT 10
      """)

                 job_title  salary_in_usd  salary_krw
0    Business Data Analyst         135000   175500000
1      Lead Data Scientist         115000   149500000
2            Data Engineer         112872   146733600
3            Data Engineer         110000   143000000
4            Data Engineer         106000   137800000
5           Data Scientist         105000   136500000
6  Data Science Consultant         103000   133900000
7        Lead Data Analyst          87000   113100000
8             Data Analyst          85000   110500000
9           Data Scientist          79833   103782900

# ğŸ“ ë¬¸ì œ 2. (Table: ds_jobs_2021)
"ì§ë¬´ ë¶„ë¥˜ ë° ê·¼ë¬´ í˜•íƒœ íŒŒì•…"

2021ë…„ ë°ì´í„°(ds_jobs_2021)ë¥¼ ì‚¬ìš©í•˜ì—¬ ë‹¤ìŒ ë¦¬í¬íŠ¸ë¥¼ ë§Œë“¤ì–´ ì£¼ì„¸ìš”.

1. ì¡°ê±´(WHERE, LIKE, Wildcard):

    - ì§ë¬´ëª…(job_title)ì— 'Data' ë¼ëŠ” ë‹¨ì–´ê°€ í¬í•¨ëœ ë°ì´í„°ë§Œ ì¡°íšŒí•´ ì£¼ì„¸ìš”.

2. ë°ì´í„° ë³€í™˜(IF ë˜ëŠ” CASE WHEN):

    - remote_ratio (ì›ê²© ê·¼ë¬´ ë¹„ìœ¨)ê°€ 100 ì´ë©´ 'ì¬íƒ', ì•„ë‹ˆë©´ 'ì¶œê·¼' ìœ¼ë¡œ í‘œì‹œí•˜ëŠ” ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë³„ì¹­ì„ work_type ì´ë¼ê³  í•´ì£¼ì„¸ìš”.

    - salary_in_usd ê°€ 100000 ì´ìƒì´ë©´ 'High', 50000 ì´ìƒì´ë©´ 'Medium', ê·¸ ì™¸ëŠ” 'Low' ë¡œ í‘œì‹œí•˜ëŠ” ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë³„ì¹­ì„ salary_grade ë¼ê³  í•´ì£¼ì„¸ìš”.

3. ì¤‘ë³µ ì œê±°(DISTINCT):

    - ìœ„ ì¡°ê±´ì— ë§ëŠ” job_title, work_type, salary_grade ì¡°í•©ì„ ì¤‘ë³µ ì—†ì´ ì¡°íšŒí•´ ì£¼ì„¸ìš”.

4. ì •ë ¬: job_title ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ ì£¼ì„¸ìš”.

In [21]:
mysql("""
      SELECT DISTINCT job_title,
      iif(remote_ratio = 100, 'ì¬íƒ','ì¶œê·¼') AS work_type,
      CASE WHEN salary_in_usd >= 100000 THEN 'High'
           WHEN salary_in_usd >= 50000 THEN 'Medium'
           ELSE 'Low'
      END AS salary_grade  
      FROM ds_2021
      WHERE job_title LIKE "%Data%"
      ORDER BY job_title
      """)

                       job_title work_type salary_grade
0         Applied Data Scientist        ì¶œê·¼       Medium
1                BI Data Analyst        ì¬íƒ         High
2                BI Data Analyst        ì¶œê·¼          Low
3                BI Data Analyst        ì¬íƒ          Low
4             Big Data Architect        ì¶œê·¼       Medium
5              Big Data Engineer        ì¬íƒ          Low
6              Big Data Engineer        ì¶œê·¼          Low
7          Business Data Analyst        ì¬íƒ       Medium
8            Cloud Data Engineer        ì¶œê·¼       Medium
9            Cloud Data Engineer        ì¬íƒ         High
10                  Data Analyst        ì¬íƒ       Medium
11                  Data Analyst        ì¶œê·¼       Medium
12                  Data Analyst        ì¬íƒ         High
13       Data Analytics Engineer        ì¬íƒ         High
14       Data Analytics Engineer        ì¬íƒ       Medium
15        Data Analytics Manager        ì¬íƒ         High
16        Data Analytics Manager        ì¶œê·¼         High
17                Data Architect        ì¬íƒ         High
18                 Data Engineer        ì¬íƒ       Medium
19                 Data Engineer        ì¬íƒ          Low
20                 Data Engineer        ì¬íƒ         High
21                 Data Engineer        ì¶œê·¼       Medium
22                 Data Engineer        ì¶œê·¼          Low
23                 Data Engineer        ì¶œê·¼         High
24      Data Engineering Manager        ì¬íƒ         High
25       Data Science Consultant        ì¶œê·¼       Medium
26       Data Science Consultant        ì¬íƒ       Medium
27         Data Science Engineer        ì¶œê·¼         High
28         Data Science Engineer        ì¬íƒ          Low
29          Data Science Manager        ì¶œê·¼       Medium
30          Data Science Manager        ì¬íƒ         High
31                Data Scientist        ì¬íƒ          Low
32                Data Scientist        ì¬íƒ       Medium
33                Data Scientist        ì¬íƒ         High
34                Data Scientist        ì¶œê·¼       Medium
35                Data Scientist        ì¶œê·¼          Low
36                Data Scientist        ì¶œê·¼         High
37               Data Specialist        ì¬íƒ         High
38  Director of Data Engineering        ì¬íƒ         High
39      Director of Data Science        ì¬íƒ         High
40      Director of Data Science        ì¶œê·¼         High
41          Finance Data Analyst        ì¶œê·¼       Medium
42        Financial Data Analyst        ì¬íƒ         High
43                  Head of Data        ì¶œê·¼         High
44                  Head of Data        ì¬íƒ         High
45          Head of Data Science        ì¶œê·¼       Medium
46          Head of Data Science        ì¶œê·¼         High
47             Lead Data Analyst        ì¬íƒ         High
48             Lead Data Analyst        ì¬íƒ          Low
49            Lead Data Engineer        ì¬íƒ         High
50            Lead Data Engineer        ì¶œê·¼         High
51          Manager Data Science        ì¬íƒ         High
52        Marketing Data Analyst        ì¬íƒ       Medium
53        Principal Data Analyst        ì¬íƒ         High
54       Principal Data Engineer        ì¬íƒ         High
55      Principal Data Scientist        ì¬íƒ         High
56          Staff Data Scientist        ì¬íƒ         High